* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 1280px;
  margin: 0 auto;  
}

img {
  vertical-align: middle;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.heavy-font {
  font-weight: 700;
}

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #2C3E50;
}

.icon-star {
  position: relative;
  font-size: 32px;
}

.separator-line {
  position: absolute;
  width: 86px;
  border: 2px solid;
}

.left-line {
  top: -2px;
  left: 41px;
}

.right-line {
  top: -2px;
  right: 41px;
}

#hd-container {
  display: flex;
  justify-content: space-around;
  height: 81px;
  width: inherit;
  background-color: #2C3E50;
  color: #FFFFFF;
}

.logo {
  height: inherit;
  width: 418px;
  padding-top: 1px;
  padding-left: 4px;
  font-size: x-large;
  font-weight: 900;
}

.menu {
  width: 298px;
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-right: 5px;
  padding-left: 34px;
}

#start-container {
  display: flex;
  justify-content: center;
  height: 629px;
  width: inherit;
  background-color: #18BC9C;
  color: #FFFFFF;
}

.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 505px;
  width: 827px;
  padding-top: 98px;
}

.start h2 {
  font-size: 67px;
  padding-top: 24px;
  padding-bottom: 42px;
}

.start p {
  font-size: 21px;
  font-weight: 900;
  padding-top: 30px;
}

.bar {
  color: red;
  border-bottom: 20px;
  width: 170px;
  height: 100px;
}

#port-container {
  display: flex;
  justify-content: space-between;
  height: 792px;
  width: inherit;
  background-color: #FFFFFF;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center
  height: 706px;
  width: 1280px;
}

.portfolio h2 {
  font-size: 44px;
  color: #212529;
  font-weight: 900;
  padding-top: 49px;
  padding-bottom: 6px;
  align-self: center;
}

.portfolio-imgs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 484px;
  width: 1124px;
  padding-left: 116px;
  margin-bottom: 76px;
}

.portfolio img {
  height: 230px;
  width: 317px;
  margin-left: 6px;
  margin-bottom: 23px;
}

#about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 515px;
  width: inherit;
  background-color: #18BC9C;
  color: #FFFFFF;
}

.about {
  display: flex;
  flex-direction: column;
  height: 422px;
  width: 767px;
}

.about h2 {
  text-align: center;
  font-size: 41px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#about-text-container {
  display: flex;
  height: 204px;
  padding-left: 54px;
  width: 781px;
  margin-bottom: -12px;
}

.about p {
  font-size: 18px;
  line-height: 1.46;
  padding-top: 7px;
  font-family: 'Lato', sans-serif !important;
  font-weight: 600px;
}

.paragraph1 {
  padding-right: 99px;
  margin-top: -19px;
}

.paragraph2 {
  padding-right: 51px;
  margin-top: -19px;
}

.download-button {
  text-align: center;
  align-self: center;
  padding-top: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 9%;
  height: 49px;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 16px;
}

#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  height: 800px;
  color: #2c3e50;
  background-color: #FFFFFF;
}

#contact-container h2 {
  padding-top: 51px;
  padding-bottom: 6px;
  font-size: 43px;
}

form {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  color: #8694A3;
  font-size: 22px;  
  line-height: 25px;
  padding-top: 31px;
}

.contact-input {
  border: hidden;
  border-bottom: 1px solid grey;
  width: 654px;
  height: 48px;
  padding-bottom: 47px;
  margin-top: 18px;
  margin-bottom: -5px;
  background-color: #FFFFFF;
}

#contact-message {
  height: 115px;
}

.form-button {
  margin-top: 22px;
  padding: 11px 15px;
  color: #FFFFFF;
  border: hidden;
  font-size: 18px;
  border-radius: 4px;
  background-color: #18BC9C;
}

#footer-container {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  height: 305px;
  width: inherit;
  color: #FFFFFF;
  background-color: #2C3E50;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 1.5;
  width: 982px;
  height: 152px;
  padding-left: 44px;
}

footer h2 {
  padding-top: 16px;
  margin-bottom: 19px;
  font-size: 26px;
  margin-right: -33px;
  margin-left: -30px;
}

footer p {
  font-size: 18px;
}

.social {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  text-align: center;  
}

a {
  text-decoration: none;
  color: #18BC9C;
  cursor: pointer;
}

.icon {
  font-size: 43px;
  color: #FFFFFF !important;]
  margin-right: 8px;
  padding-top: 12px;
}


.location {
  width: 432px;
}

.web {
  padding-left: 40px;
  width: 687px;
  margin-right: -2px;
  margin-left: 61px;
}

.abt-freelancer {
  padding-left: 39px;
}

.copyright {
  text-align: center;
  padding-bottom: 9px;
  font-size: 15px;
}


